# Lecture 1

***
### Python programming language

Nowadays, programming is becoming an increasingly important skill needed in a
in various fields of endeavor.
The **Python** language, due to its simplicity and power, has become one of the **most popular** tools for learning programming among beginners and experienced developers.
one of the **most popular** tools for learning programming among beginners and experienced developers. 

According to the results of the research of IBS training center in *2023*
year **Python** became the most popular programming language in Russia. Python has the **most** job listings on Glassdoor and Indeed (global job sites).
employment sites.)

For more than five years, **Python has been one of the top three most popular languages** both in
in both foreign and Russian rankings. Every year there are more and more people willing
to learn this language.

There are **Millions* of lines of code written in **Python**, and it is used in many different fields: web development, scientific computing, data analysis, artificial intelligence, machine learning, task automation, and much more.

The most important advantage of this programming language is its **simplicity and readability**. The syntax of **Python** is simple and intuitive, due to which millions of people choose it. These same properties make it an *excellent language for beginners* and experienced programmers.

Translated with DeepL.com (free version)

***
### Dynamic Typing

A little definition:

*What is a variable?*
A variable is simply a name for some information that a program stores and uses. 
For example, if you want to store a user's age, you can create a variable named “age” and assign it a value, such as 25. You can now use that name to get or change the age in the program.â

**Dynamic Typing** is when the type of a variable is determined when you assign it a value. For example, if you write a number to a variable, it becomes a number. If you write text to it, it becomes text.

**Static typing** is when the type of a variable is defined when you create it. And this type does not change. If you create a variable and specify that it will contain a number, it will always contain a number, and you can't write text to it, for example.

**Python** is a *dynamic typing* programming language, along with languages such as JavaScript and Ruby.
Statically typed languages are C++, C, Java, Pascal.




#### **Посмотрим на примере**

Чтобы объявить переменную в Python, нам не нужно указывать ее тип, просто пишем:

In [8]:
a = 1
a #In jupyter-notebook this is just outputting the value of the variable, equivalent to print(a), i.e. we have printed the value

1

To declare a variable in C++, Java or Pascal, we first specify the type of the variable `integer` in this case, and then write its name `a` and assign a value to it:

```
int a = 1;       // C++ or Java


var:
    a : Integer;
...
    a := 1;      // Pascal
    
```

How is the value of a variable stored and retrieved?
In Python, a variable has a reference to an object in memory, but no type itself.

So we can even write like this

In [9]:
a = 1
a = 'rabbit'

1) if `a` was declared for the first time, a variable is created that references the integer `1`
2) in this1 line, we delete the previous reference and create a new one that points to the string `rabbit`.

```
1) a----> 1

2)        1
   a----> rabbit
```

Let's look at another example:

In [10]:
a = 1
b = a
a = 'rabbit'

1) A variable `a` is created and the reference points to `1`
2) Variable `b` is created and it refers to the same object as `a` to `1`.
3) Now `a` is referencing another object `rabbit` and `b` is still referencing `1`

```
1)
    a ---> 1

2) 
    a ---> 1 <--- b
   
3) 
    b --->1
    a ---> rabbit

```

****
**What is an object?**

An object is like a container that holds information and methods (actions) that can be performed on it. 
For example, if we talk about a “cat” object, it can hold information about its color, age, and methods such as “purr” or “catch mice”.

Objects in Python are created dynamically and are automatically managed by the garbage collector.

When you assign a value to a variable, Python creates an object of the right type in memory and then associates the variable with that object. In doing so, the variable starts referencing the object in memory that contains the corresponding data.

Thus, variables in Python are actually references to objects that lie in memory. It is important to note that the same object can be accessed through multiple variables, and changes made to one variable will be visible through other variables that referenced the same object.
***

#### How can variables and functions be named?

Names can contain letters (both lowercase and uppercase), numbers and underscores (`_`), but not spaces and cannot start with a number.
Names are case sensitive, i.e. “foo” and “Foo” will be considered different names.

#### Comments

What it is. Comments are explanations that are not visible to the program, but help add explanation or notes to the code.

There are two types of comments. Single-line and multi-line.
For single-line ones use `#` before the comment, for multi-line ones use `“”"` first and from the end.

In [11]:
# This is a one-line comment
x = 5 # This is a comment on a line of code
   
"""
   This is a
   multi-line
   comment
"""
x

5

### Basic data types and structures

***
### Bool

**Bool** is a logical variable that accepts True and False values.
False corresponds to the number 0, and True corresponds to the number 1.

In [12]:
a = False
a

False

In [5]:
b = True
b

True

***

### Int

**Int** is an integer.
With numbers we can perform arithmetic operations such as:
```
 + addition
 - subtraction
 * multiplication
 // integer division (integer part of division)
 % remainder of division
 ** division
```

In [13]:
a = 12
b = 5

a + b

17

In [14]:
a - b

7

In [15]:
a * b

60

In [16]:
a // b

2

In [17]:
a % b

2

In [18]:
a ** b

248832

В переменные можно записывать арифметические выражения и изменять переменную

In [19]:
a = 8 + 4
b = a - 7

b = b + 1
b += 1       #These two lines do the same thing

#In the same way we can apply and reduce other operations
a *= b
b -= 2
a //= b - 1

(a, b)

(21, 5)

In [20]:
# Note that the remainder is always positive 
a = -2
b = 5

a % b

3

We can also work with numbers in different number systems

**Binary number system**:

To declare a number in the binary system, the prefix `0b` is used.

To convert a number from decimal to binary, we can use the `bin()` function.

**Ectal number system**:

To declare a number in the octal system, the prefix `0o` is used. 

The `oct()` function can be used to convert a number from decimal to octal.

**Hexadecimal number system**:

To declare a number in hexadecimal, the prefix `0x` is used.

You can use the `hex()` function to convert a number from decimal to hexadecimal.

In [21]:
# Binary system
bin_num = 0b1010
binary_num = bin(10)

(bin_num, binary_num)

(10, '0b1010')

In [22]:
#The octal system
oct_num = 0o12
octal_num = oct(10)

(oct_num, octal_num)

(10, '0o12')

In [23]:
# Hexadecimal system
hex_num = 0xA
hexadecimal_num = hex(10)

(hex_num, hexadecimal_num)

(10, '0xa')

That said, if you need to work with numbers in other number systems, you can use conversion methods such as `int('1010', 3)` to convert a string to a number in ternary or `int('A', 15)` to convert a string to a number in fifteen-character.

In [17]:
th_num = int('1010', 3)
fv_num = int('A', 15)

(th_num, fv_num)

(30, 10)

***

### Float

**Float** is a floating point number. Float has a number storage structure very different from integer type numbers.

The structure of a floating point number consists of the following parts:
+ mantissa sign ``s` (indicates whether the number is negative or positive),
+ mantissa `m` (expresses the value of the number without regard to order),
+ order sign `sp`,
+ order `p` (expresses the degree of the base of the number by which the mantissa is multiplied, often it is exp).

 The formula is roughly **$$$(-1)^smb^{sp*exp},$$$** write only the mantissa and the exponent of the degree, separating them with the letter “E” (from the English exponent). The base is implicitly assumed to be 10. For example, the number 1,528535047⋅10-25 in this case is written as 1.528535047E-25.
 
 For real numbers, the division operation `/` also appears.

In [24]:
# Declare variables of type float
a = 5.05
b = 2.5

a / b

2.02

In [25]:
# But! We can also divide by integers
a = 5.05
b = 5

a / b
# float / int = float

1.01

In [26]:
a = 5
b = 2.5

a / b
# int / float = float

2.0

In [27]:
a = 5
b = 3

a / b
# int / int = float

1.6666666666666667

In [28]:
# We can do the same with division
a /= 2

a

2.5

In [29]:
# Degree expansion for float is defined as well
b **= a

b

15.588457268119896

In [30]:
a = 2.5
b = 2
c = 4.01

(a ** 2, a ** c)

(6.25, 39.42207090883399)

***
### List

**List** - a list (dynamic array), a sequence of elements. Each element of the list has its own index number. Indexing in Python starts from zero, negative indexes are also used. Also elements can be of different types. 

You can initialize a list using square brackets, you can also create it empty and fill it later, modify it, etc.

In [31]:
a = 3.4
lst = [1, a, 3, 'rabbit']

# Create empty lists
lst2 = list()
lst3 = []

lst

[1, 3.4, 3, 'rabbit']

Now let's see how indexing works.

In [32]:
lst[0] # Print the zero element

1

In [33]:
lst[-1] # Print the last element

'rabbit'

In [34]:
# Let's look at the first and minus the third element
# What do they equal?
(lst[1], lst[-3])

(3.4, 3.4)

If we want to change a particular element, we can refer to it by index and assign a new value to it. For example:

In [35]:
b = 175
lst[3] = b

lst

[1, 3.4, 3, 175]

To add an item, you need to apply the `append()` method. It will add the element to the end of the list and increment it.

In [36]:
lst.append(0) # Adds 0 to the end

lst

[1, 3.4, 3, 175, 0]

When working with lists, we often need to know its length using the `len()` function

In [37]:
len(lst)

5

In [38]:
# Now let's add a couple more elements
a = [1, a, 4]
lst.append(a)
lst.append(b)

# What will be its length now?
len(lst)

7

In [39]:
# Let's print out lst and see how it's changed
lst

[1, 3.4, 3, 175, 0, [1, 3.4, 4], 175]

There's a lot more you can do with lists, but we'll talk about that in the next lecture

***
### Str

**Str (string)** is a string. To write it, it must be in single `'` or double quotes `"`.

In [40]:
s = '1234'
str = "rabbit 5"

(s, str)

('1234', 'rabbit 5')

Strings can be represented as a list of characters, they have the same indexing as lists.

In [41]:
a = str[2]

a

'b'

In [42]:
b = str[-2]

b

' '

We will also talk more about strings at the next lecture.

***
### Tuple

**Tuple** - tuple. It is also similar to a list, but neither elements nor length can be changed in a tuple.

To initialize a tuple, you must write the elements in parentheses.

In [43]:
tpl = (a, 2, c) # Tuples can also contain elements of different types
tpl

('b', 2, 4.01)

Note that a tuple may contain elements of a variable type.

In [44]:
a = [1, 2]
tpl = (1, a, 5.0)

tpl

(1, [1, 2], 5.0)

We can modify the array `a` by accessing it directly, but not modify the tuple element. Let's look at an example:

In [45]:
a[0] = '2' # changed the list of a

tpl

(1, ['2', 2], 5.0)

In [46]:
# Now let's try to change the tuple element
tpl[1] = 3

TypeError: 'tuple' object does not support item assignment

We got an error trying to change the tuple elements, but we can still access the tuple elements and recognize their values.

In [47]:
b = tpl[-1]

b

5.0

In [48]:
# We can also find out the length using the len() function
len(tpl)

3

***
### Other types

We've only explored a small fraction of the data types available in Python. The Python standard library and third-party libraries offer even more data types and data structures for different tasks and use cases: dictionaries, sets, functions, classes, files, modules, exseptions, etc. Python is known for its extensive and flexible ecosystem, which provides a variety of tools and features for developers.

***
### Type conversion

We already know a few different types of data, but we would like to be able to cast one into another. For example: `5.0` (float) -> `5` (int) or `'22` (str) -> `22` (int)

There are certain functions for this purpose:
+ bool() \- to a logical type
+ int() \- to integer type
+ float() \- to a real number
+ list() \- to a list
+ string() \- to a string
+ tuple() to a tuple.

These functions can also be used if we want to initialize a variable with a certain type. For example: `float(5)` -> the variable will be of type `float`, not `int`.

In [51]:
fl = float(5.6)
integer = int('6')
lst = list('1234')
tpl = tuple('cd')
f = bool(0)

(fl, integer, lst, tpl, f)

(5.6, 6, ['1', '2', '3', '4'], ('c', 'd'), False)

    But not every type can be converted to a different type. For example, there will be an error in every line of code below:

In [ ]:
int('cc')
float('foo')
float('0,55')
list(1123)

To find out the type of a variable, you need to use the `type()` function

In [52]:
(type(fl), type(integer), type(lst))

(float, int, list)

***
### Input and output

Throughout today's lecture we've been using the jupyter-notebook features and outputting the value by simply writing the variable name at the bottom, but in integrated development environments (and in home tasks) we need to output and retrieve data. Let's learn how to do that!

Let's familiarize ourselves with inputting and outputting data via the console, also called the manual method. 

`input()` \- gets the *string* that you have entered 

`print()` {- prints what you pass in

`input('Here you can write the text the user will see before typing')`

In [53]:
a = input('Enter a number ')
print(type(a))

Enter a number 5
<class 'str'>

We have entered a number, but the `input()` function returns a value of type `str`, and to use the entered number as `int`, we need to convert it to the correct type.

In [54]:
a = int(a)
print(type(a))

<class 'int'>

What if there are several numbers in one line? 
We use the `split()` method. It splits the string by the “delimiter” passed inside the brackets.

In [55]:
a, b = input().split(' ') # The separator here is a space.
print(a)
print(b)

4 5
4
5

But let's also look at the type of `a` and `b`

In [56]:
print(type(a))
print(type(b))

<class 'str'>
<class 'str'>

Is there any way to apply the conversion to `int` for example, to all numbers from the input at once?

\- Yes, you can. To do this, use the `map()` function, which will apply the function to the passed object

In [57]:
s = input().split(' ')
a, b = map(int, s)

# or map(int, input().split(' ')) 

print((a, type(a)))
print((b, type(b)))

4 5
(4, <class 'int'>)
(5, <class 'int'>)

However, if we need to write all the transferred numbers in a sheet, what do we do?

In [58]:
lst = list(map(int, input().split(' ')))
print(lst)

1 2 3 5
[1, 2, 3, 5]

Now let's talk a bit about the `print()` function.
Various variables, expressions, numbers, strings, etc. can be passed to the function, and it will print them on one line separated by commas, and the next input will start on a new line.

In [59]:
print(a, type(a))
print(a, ' + ', b, ' = ', a + b)

4 <class 'int'>
4  +  5  =  9

The `print()` function has several parameters:
+ sep \- separator
+ end \- the end of the output.

I.e., the regular function `print(a)` is the same as 

`print(a, sep=' ', end='n'` 

`'\n'` is a character to indicate a new line.

For example: if we want to write a comma-delimited shopping list, we just need to specify the parameter `sep=','`.

In [60]:
a = 'Milk'
b = 'eggs'
c = 'bread'
print(a, b, c, sep=', ', end='!\n')

Milk, eggs, bread!

For lists there is a cool feature, if you write `*` before the list, then all the contents of the sheet will be printed over a space.

In [61]:
print(*lst)

1 2 3 5

***
### Conclusion

In today's lecture we:
+ answered the question, “What is the Python API?”
+ talked about Dynamic Typing
+ learned “What is a variable and an object”.
+ learned about basic types and data structures
+ learned how to cast types
+ learned how to input and output data