# Лекция 1

***
### Язык программирования Python

В наше время программирование становится все более важным навыком, необходимым в
различных сферах деятельности.
Язык **Python**, благодаря своей простоте и мощности, стал
одним из **самых популярных** инструментов для обучения программированию среди начинающих и опытных разработчиков. 

По результатам исследования учебного центра IBS в *2023*
году **Python** стал самым востребованным языком программирования в России. Python имеет **наибольшее количество** объявлений вакансий на Glassdoor и Indeed (всемирных сайтах
по трудоустройству).

Больше пяти лет **Python входит в тройку самых популярных языков** и в
зарубежных рейтингах, и в российских. С каждым годом становится все больше желающих
изучить этот язык.

На языке **Python** написаны *миллионы* строчек кода, его используюь в самых разных областях: веб-разработка, научные вычисления, анализ данных, искусственный интелект, машинное обучение, автоматизация задач и многое другое.

Самым главным преимуществом этого языка программирования является **простота и читаемость**. Синтаксис **Python** прост и интуитивно понятен, благодаря этому миллионы людей выбирают его. Эти же свойства делают его *отличным ЯП для начинающих* и опытных программистов.

***
### Динамическая типизация

Небольшое определение:

*Что такое переменная?*

*Переменная - это просто имя для какой-то информации, которую программа хранит и использует. 
Например, если вы хотите сохранить возраст пользователя, вы можете создать переменную с именем "возраст" и присвоить ей значение, например, 25. Теперь вы можете использовать это имя, чтобы получить или изменить возраст в программе.*

**Динамическая типизация** - это когда тип переменной определяется, когда вы присваиваете ей значение. Например, если вы записываете число в переменную, она становится числом. Если записываете в нее же текст, то становится текстом.

**Статическая типизация** - это когда тип переменной определяется, когда вы создаёте её. И этот тип не меняется. Если вы создали переменную и указали, что в ней будет число, то она всегда будет содержать число, и вы не сможете в неё записать, например, текст.

**Python** относится к языкам программирования с *динамической типизацией*, вместе с такими языка как JavaScript и Ruby.
Со статической типизацией являются такие языки C++, C, Java, Pascal.




#### **Посмотрим на примере**

Чтобы объявить переменную в Python, нам не нужно указывать ее тип, просто пишем:

In [1]:
a = 1
a #В jupyter-notebook это просто вывод значения переменной, равносильно print(a), т.е. мы распечатали значение

1

Чтобы объявить перемнную в C++, Java или Pascal, сначала указываем тип переменной `integer` в данном случае, а после уже пишем ее имя `a` и присваиваем ей значение:

```
int a = 1;       // C++ or Java


var:
    a : Integer;
...
    a := 1;      // Pascal
    
```

Как же все-таки хранится и достается значение переменной?
В Python у переменной имеется ссылка на объект в памяти, при этом самого типа нет.

Поэтому мы можем даже писать так

In [2]:
a = 1
a = 'rabbit'

1) если `а` была объявлена впервые, то создается переменная, которая ссылается на целое число `1`
2) в это1 строчке мы удаляем предыдущую ссылку и создаем новую, которая указывает на строку `rabbit`

```
1) a----> 1

2)        1
   a----> rabbit
```

Рассмотрим другой пример:

In [3]:
a = 1
b = a
a = 'rabbit'

1) Создается переменная `a`, ссылка указывает на `1`
2) Создается переменная `b`и она ссылается на тот же объект, что и `a` на `1`
3) Теперь `a` ссылается на другой объект `rabbit`, а `b` все так же ссылается на `1`

```
1)
    a ---> 1

2) 
    a ---> 1 <--- b
   
3) 
    b --->1
    a ---> rabbit

```

****
**Что же такое объект?**

*Объект - это как контейнер, в котором хранится информация и методы (действия), которые можно с ним выполнять.* 
Например, если мы говорим об объекте "кошка", то в нём может быть информация о цвете, возрасте и методы, такие как "мурлыкать" или "ловить мышей".

Объекты в Python создаются динамически и автоматически управляются сборщиком мусора.

Когда вы присваиваете переменной значение, Python создает объект нужного типа в памяти и затем связывает переменную с этим объектом. При этом переменная начинает ссылаться на объект в памяти, который содержит соответствующие данные.

Таким образом, переменные в Python фактически являются ссылками на объекты, которые лежат в памяти. Важно отметить, что один и тот же объект может быть доступен через несколько переменных, и изменения, внесенные в одну переменную, будут видны через другие переменные, которые ссылались на этот же объект.
***

#### Как можно называть переменные и функции?

Имена могут содержать буквы (как строчные, так и заглавные), цифры и символ подчеркивания (`_`), но не пробел и не могут начинаться с цифры.
Имена чувствительны к регистру, то есть "foo" и "Foo" будут считаться разными именами.

#### Комментарии

Что это такое? Комментарии - это пояснение, которое не виден для программы, но помогает добавить объяснение или заметки к коду.

Существует два вида комментариев. Однострочные и многострочные.
Для однострочных используют `#` до комментария, для многострочных - `"""` сначала и с конца.

In [132]:
# Это однострочный комментарий
x = 5  # Это комментарий к строке кода
   
"""
   Это
   многострочный
   комментарий
"""
x

5

### Базовые типы и структуры данных

***
### Bool

**Bool** - это логическая переменная, которая принимает значения True и False.
False - соответствует число 0, а True - 1.

In [4]:
a = False
a

False

In [5]:
b = True
b

True

***

### Int

**Int** - это целое число (integer).
C числами мы может выполнять арифметические операции, такие как:
```
 +   сложение
 -   вычитание
 *   умножение
 //  целочисленное деление (целая часть от деления)
 %   остаток от деления
 ** возведение в степень
```

In [6]:
a = 12
b = 5

a + b

17

In [7]:
a - b

7

In [8]:
a * b

60

In [9]:
a // b

2

In [10]:
a % b

2

In [11]:
a ** b

248832

В переменные можно записывать арифметические выражения и изменять переменную

In [12]:
a = 8 + 4
b = a - 7

b = b + 1
b += 1       #эти две строки делают одно и тоже

#Таким же образом мы можем применять и сокращать другие операции
a *= b
b -= 2
a //= b - 1

(a, b)

(21, 5)

In [13]:
# Заметим,что остаток всегда положительный 
a = -2
b = 5

a % b

3

Так же мы можем работать с числами в разных системах счисления

**Двоичная система счисления**:

Для объявления числа в двоичной системе используется префикс `0b`.

Для преобразования числа из десятичной системы в двоичную можно использовать функцию `bin()`.

**Восьмеричная система счисления**:

Для объявления числа в восьмеричной системе используется префикс `0o`. 

Для преобразования числа из десятичной системы в восьмеричную можно использовать функцию `oct()`.

**Шестнадцатеричная система счисления**:

Для объявления числа в шестнадцатеричной системе используется префикс `0x`.

Для преобразования числа из десятичной системы в шестнадцатеричную можно использовать функцию `hex()`.

In [14]:
# Двоичная система
bin_num = 0b1010
binary_num = bin(10)

(bin_num, binary_num)

(10, '0b1010')

In [15]:
# Восьмеричная система
oct_num = 0o12
octal_num = oct(10)

(oct_num, octal_num)

(10, '0o12')

In [16]:
# Шестнадцатеричная система
hex_num = 0xA
hexadecimal_num = hex(10)

(hex_num, hexadecimal_num)

(10, '0xa')

При этом, если вам нужно работать с числами в других системах счисления, вы можете использовать методы преобразования, такие как `int('1010', 3)` для преобразования строки в число в троичной системе или `int('A', 15)` для преобразования строки в число в пятнадцатиричной системе.

In [17]:
th_num = int('1010', 3)
fv_num = int('A', 15)

(th_num, fv_num)

(30, 10)

***

### Float

**Float** - число с плавающей точкой. Float имеет структуру хранения числа, сильно отличающуюся от чисел целого типа.

Структура числа с плавающей запятой состоит из следующих частей:
+ знак мантиссы `s` (указывает на отрицательность или положительность числа),
+ мантисса `m` (выражает значение числа без учёта порядка),
+ знак порядка `sp`,
+ порядок `p`(выражает степень основания числа, на которое умножается мантисса, часто это exp).

 Формула примерно такая **$$(-1)^s·m·b^{sp · exp},$$** записывают лишь мантиссу и показатель степени, разделяя их буквой «E» (от англ. exponent). Основание при этом неявно полагают равным 10. Например, число 1,528535047⋅10−25 в этом случае записывается как 1.528535047E-25.
 
 Для действительных чисел появляется и операция деления `/`

In [18]:
# Объявляем переменные типа float
a = 5.05
b = 2.5

a / b

2.02

In [19]:
# Но! Мы так же можем делить на целые числа
a = 5.05
b = 5

a / b
# float / int = float

1.01

In [20]:
a = 5
b = 2.5

a / b
# int / float = float

2.0

In [21]:
a = 5
b = 3

a / b
# int / int = float

1.6666666666666667

In [22]:
# С делением мы тоже так можем
a /= 2

a

2.5

In [23]:
# Возведение в степень для float определено тоже
b **= a

b

15.588457268119896

In [24]:
a = 2.5
b = 2
c = 4.01

(a ** 2, a ** c)

(6.25, 39.42207090883399)

***
### List

**List** - список (динамический массив), последовательность элементов. Каждый элемент списка имеет свой порядковый номер - индекс. Индексация в Python начинается с нуля, так же используются отрицательные индексы. Так же элементы могут быть разных типов. 

Инициализировать список можно с помощью квадратных скобок, можно также создать его пустым и позже заполнять, изменять и т.д.

In [25]:
a = 3.4
lst = [1, a, 3, 'rabbit']

# Создаем пустые списки
lst2 = list()
lst3 = []

lst

[1, 3.4, 3, 'rabbit']

Теперь посмотрим как работает индексация.

In [26]:
lst[0] # Распечатаем нулевой элемент

1

In [27]:
lst[-1] # Распечатает последний элемент

'rabbit'

In [28]:
# Давайте посмотрим на первый и минус третий элемент
# Чему они будут равны?
(lst[1], lst[-3])

(3.4, 3.4)

Если мы хотим изменить определенный элемент, мы можем обратиться к нему по индексу и присвоить новое значение. Например:

In [29]:
b = 175
lst[3] = b

lst

[1, 3.4, 3, 175]

Чтобы добавить элемент, нужно применить метод `append()`. Он добавит элемент в конец списка и увеличит его.

In [30]:
lst.append(0) # Добавит 0 в конец

lst

[1, 3.4, 3, 175, 0]

При работе со списками нам часто важно знать его длину с помощью функции `len()`

In [31]:
len(lst)

5

In [32]:
# А теперь добавим еще пару элементов
a = [1, a, 4]
lst.append(a)
lst.append(b)

# Какой станет его длина теперь?
len(lst)

7

In [33]:
# Распечатаем lst и посмотрим как он изменился
lst

[1, 3.4, 3, 175, 0, [1, 3.4, 4], 175]

Со списками еще многое можно сделать, но об этом мы поговорим на следующей лекции

***
### Str

**Str (string)** - строка. Чтобы записать её, она должна быть в одинарных `'` или двойных кавычках `"`.

In [34]:
s = '1234'
str = "rabbit 5"

(s, str)

('1234', 'rabbit 5')

Строки можно представлять как список символов, них есть такая же индексация как и у списков.

In [35]:
a = str[2]

a

'b'

In [36]:
b = str[-2]

b

' '

Подробнее про строки также поговрим на следующей лекции.

***
### Tuple

**Tuple** - кортеж. Тоже похож на список, но в кортеж нельзя изменять ни элемнты, ни длину.

Чтобы инициализировать кортеж, необходимо записать элементы в круглых скобках.

In [37]:
tpl = (a, 2, c) # Кортежи также могут содержать элементы разных типов

tpl

('b', 2, 4.01)

Что примечательно, кортеж может содержать элементы изменяемого типа.

In [38]:
a = [1, 2]
tpl = (1, a, 5.0)

tpl

(1, [1, 2], 5.0)

Мы можем изменить массив `a`, обратившись напрямую к нему, но не изменять элемент кортежа. Посмотрим на примере:

In [39]:
a[0] = '2' # изменили список а

tpl

(1, ['2', 2], 5.0)

In [40]:
# А теперь попробуем изменить элемент кортежа
tpl[1] = 3

TypeError: 'tuple' object does not support item assignment

Мы получили ошибку в попытках изменить элементы кортежа, но мы все также можем обращаться к элементам кортежа и узнавать их значения.

In [41]:
b = tpl[-1]

b

5.0

In [42]:
# Длину мы так же можем узнать с помощью функции len()
len(tpl)

3

***
### Другие типы

Мы с вами изучили только небольшую часть типов данных, доступных в Python. Стандартная библиотека Python и сторонние библиотеки предлагают еще больше типов данных и структур данных для различных задач и сценариев использования: dictionaris, sets, functions, classes, files, modules, exseptions и т.д. Python известен своей обширной и гибкой экосистемой, которая обеспечивает разнообразные инструменты и возможности для разработчиков.

***
### Приведение типов

Мы уже знаем несколько различных типов данных, но хотелось бы уметь приводить один в другой. Например: `5.0` (float) -> `5` (int) или `'22'` (str) -> `22` (int)

Для этого существуют определенные функции:
+ bool()     \- к логическому типу
+ int()      \- к целому числу
+ float()    \- к действительному числу
+ list()     \- к списку
+ string()   \- к строке
+ tuple()    \- к кортежу

Эти функции также можно использовать если хотим инициализировать переменную определенным типом. Например: `float(5)` -> переменная будет иметь тип `float`, а не `int`.

In [43]:
fl = float(5.6)
integer = int('6')
lst = list('1234')
tpl = tuple('cd')
f = bool(0)

(fl, integer, lst, tpl, f)

(5.6, 6, ['1', '2', '3', '4'], ('c', 'd'), False)

    Но не каждый тип можно преобразовать в другой. Например, в каждой строке кода ниже будет ошибка:

In [ ]:
int('cc')
float('foo')
float('0,55')
list(1123)

Чтобы узнать тип переменной, необходимо использовать функцию `type()`

In [44]:
(type(fl), type(integer), type(lst))

(float, int, list)

***
### Ввод и вывод

Всю сегодняшнюю лекцию мы пользовались возможностями jupyter-notebook и выводили значение, просто написав имя переменной внизу, но в интегрированных средах разработки (и в домашних задачах) нам необходимо выводить и получать данных. Давайье научимся этому!

Познакомимся с вводом и выводом данных через консоль, также называется ручным способом. 

`input()` \- получает *строку* которую, вы ввели 

`print()` \- печатает то, что вы передадите

`input('Здесь вы можете написать текст, который увидет пользователь перед вводом')`

In [45]:
a = input('Введите число ')
print(type(a))

Введите число 5
<class 'str'>

Мы ввели число, но функция `input()` возвращает значение типа `str`, и чтобы использовать введеной число как `int`, нам необходимо привести его к нужному типу.

In [46]:
a = int(a)
print(type(a))

<class 'int'>

А что если в одной строке записано несколько чисел? 
Мы используем метод `split()`. Он разделяет строку по "разделителю", который передают  внутри скобок.

In [47]:
a, b = input().split(' ') # Разделитель здесь - это пробел
print(a)
print(b)

4 5
4
5

Но давайте, так же посмотрим на тип `a` и `b`

In [48]:
print(type(a))
print(type(b))

<class 'str'>
<class 'str'>

Можно ли как-то применить преобразование, к `int` например, сразу ко всем числам из ввода?

\- Можно. Для этого используем функцию `map()`, которая применит функцию к передаваемому объекту

In [49]:
s = input().split(' ')
a, b = map(int, s)

# или можно сразу map(int, input().split(' ')) 

print((a, type(a)))
print((b, type(b)))

4 5
(4, <class 'int'>)
(5, <class 'int'>)

Если же нам нужно записать все переданные числа в лист, что делать?

In [50]:
lst = list(map(int, input().split(' ')))
print(lst)

1 2 3 5
[1, 2, 3, 5]

Теперь поговорим немного о функции `print()`
Различные переменный, выражения, числа, строки и т.д. можно передавать в функцию, и она распечатает их в одной строке через запятую, а следующий ввод начнется уже с новой строки.

In [51]:
print(a, type(a))
print(a, ' + ', b, ' = ', a + b)

4 <class 'int'>
4  +  5  =  9

Функция `print()` имеет несколько параметров:
+ sep \- разделитель
+ end \- то, чем закончится вывод

Т.е. обычная функция `print(a)` - это то же самое, что и 

`print(a, sep=' ', end='\n'` 

`'\n'` - это символ обозначающий перевод на новую строчку

Например: если мы хотим написать список покупок через запятую, нам необходимо просто указать параметр `sep=','`

In [52]:
a = 'Milk'
b = 'eggs'
c = 'bread'
print(a, b, c, sep=', ', end='!\n')

Milk, eggs, bread!

Для списков есть классная фича, если написать `*` перед списком, то все содержимое листа выведется через пробел.

In [53]:
print(*lst)

1 2 3 5

***
### Заключение

На сегодняшней лекции мы:
+ ответили на вопрос: "Что такое ЯП Python?"
+ поговорили о Динамической типизации
+ узнали «Что такое переменная и объект»
+ познакомились с базовыми типами и структурами данных
+ изучили как приводить типы
+ научились вводить и выводить данные